<header style="background-color: lightgray;">
    <span style="display:grid; grid-template-columns: auto auto 1fr; gap: 8px;">
        <a routerLink="/">
            <div style="grid-column: 1; display:grid; grid-template-columns: auto auto">
                <div style="grid-row: 1; justify-self: center;">
                    <img src="assets/casper.svg" style="width: 30px" />
                    <img src="assets/daisy.svg" style="width: 30px" />
                </div>
                <span style="font-size: 10px; grid-row: 2;" >Casper and Daisy</span>
            </div>
        </a>
        <a routerLink="/fixtures" style="grid-column: 2; align-self: center;">Fixtures</a>
    </span>
</header>