/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Luckiest Guy', cursive;
    font-size: 33px;
  }
  
  path {
    fill: transparent;
  }
  
  text {
    fill: #FF9800;
  }